label{
    color: rgb(27, 27, 27);
}
.form{
    background-color: rgb(250, 249, 247);
    align-items: center;
    text-align: center;
    margin-top: 3px;
    width: 52%;
    margin-left: 290px;
    border-radius: 8px;
}
.section{
    margin-top: 8px;
}